<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.21.10" targetFramework="net40-client" />
  <package id="AWSSDK.S3" version="3.3.17" targetFramework="net40-client" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net40-client" />
  <package id="Microsoft.Data.Edm" version="5.6.4" targetFramework="net40-client" />
  <package id="Microsoft.Data.OData" version="5.6.4" targetFramework="net40-client" />
  <package id="Microsoft.Data.Services.Client" version="5.6.4" targetFramework="net40-client" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40-client" />
  <package id="Microsoft.Web.Services3" version="3.0.0.0" targetFramework="net40-client" />
  <package id="Microsoft.Web.WebJobs.Publish" version="1.1.0" targetFramework="net40-client" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.3" targetFramework="net40-client" />
  <package id="Microsoft.WindowsAzure.SDK" version="2.9.0" targetFramework="net40-client" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net40-client" />
  <package id="System.Spatial" version="5.6.4" targetFramework="net40-client" />
  <package id="WindowsAzure.Storage" version="7.2.1" targetFramework="net40-client" />
</packages>